<% book.book_comments.each do |book_comment| %>
<tr class="book-comment-item">
  <td><%= link_to book_comment.user do %>
    <%= image_tag book_comment.user.get_profile_image, size:"100x100" %><br>
    <%= book_comment.user.name %>
    <% end %>
  </td>
  <td colspan="5">
    <%= book_comment.comment %>
  </td>
  <td>
    <% if book_comment.user == current_user %>
    <%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true %>
    <% end %>
  </td>
</tr>
<% end %>