<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
	  <th>follows</th>
	  <th>
	    <%= link_to user_follower_path(user) do %>
	    <%= user.followers.count %></th>
	    <% end %>
  </tr>
  <tr>
	  <th>followers</th>
	  <th>
	    <%= link_to user_followed_path(user) do %>
	    <%= user.followeds.count %></th>
	    <% end %>
  </tr>
</table>

<div class='row'>
<% if @user == current_user %>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
<% else %>
  <% if current_user.follow_to?(user) %>
    <%= link_to user_relationships_path(user), class: "btn btn-info btn-block follow_user_#{user.id}", method: :delete do %>
    フォローを外す
    <% end %>
  <% else %>
    <%= link_to user_relationships_path(user), class: "btn btn-success btn-block follow_user_#{user.id}", method: :post do %>
    フォローする
    <% end %>
  <% end %>
<% end %>
</div>